<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>{{ 'Edit Meeting Action Item Status' if result.mais_details else 'Add Meeting Action Item Status' }}</title>
</head>
<body>
    {% include 'navbar.html' %}
    {% import 'breadcrumbs.html' as brd %}
    {{ brd.render_Breadcrumbs([{"url": "manage_meeting_setup", "label": "Manage Meeting Setup"}, {"url": "", "label": 'Edit Meeting Action Item Status' if result.mais_details else 'Add Meeting Action Item Status' }]) }}

    <div class="container mt-4">
        {% include 'message_box.html' %}

        <div class="card">
            <div class="card-header">
                <h2>{{ 'Edit Meeting Action Item Status' if result.mais_details else 'Add Meeting Action Item Status' }}</h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="form-group mb-3">
                        <label for="mais_name">Name</label>
                        <input type="text" name="mais_name" class="form-control" value="{{ result.mais_details.mais_name if result.mais_details else '' }}" required>
                    </div>
                    <button type="submit" class="btn btn-primary">{{ 'Update Meeting Action Item Status' if result.mais_details else 'Add Meeting Action Item Status' }}</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>