{% macro render_Breadcrumbs(arr_dict) %}
<div class="page-header mt-3">
    <div class="page-header-content header-elements-md-inline container">
        <div class="row mb-3 mt-0">
            <div class="col-12">
               <div class="header-elements py-0 mb-3 mb-md-0 mt-2">
                    <div class="breadcrumb">
                        <a href="{{url_for('index')}}" class="breadcrumb-item"><i class="fa fa-home text-dark mr-1 mt-1 fs-5"></i></a>
                        {% for item in arr_dict %}
                            {% set str_url = item['url']|string %}
                            {% set str_label = item['label']|string %}

                                {% if str_url != "" %}
                                    <a href="{{url_for(str_url)}}" class="breadcrumb-item fs-5 text-decoration-none text-dark">
                                        <span class="active mr-1">{{str_label}}</span>
                                    </a>
                                {% else %}
                                        <span class="breadcrumb-item active mr-1 fs-5">{{str_label}}</span>
                                {% endif %}

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}



